{% extends "base.html" %}

{% block head %} 
    <title> PSUTIL-DASHBOARD </title>
{% endblock %}

{% block pagetitle %} 
<div class="text-center w-100">
    <h3 class="text-white h3">Overview</h3>
    <p class="text-small text-muted">

        {% if context.platform_info['os_name'] != 'unknown' %}
            <i class="fa-brands fa-{{context.platform_info['os_name']}}"></i>
        {% else %}
            <i class="fa-brands fa-question"></i>
        {% endif %}

        Hostname: {{ context.platform_info['node_name'] }},
        OS: {% if context.platform_info['os_name'] == 'apple' %} macOS {% else %} {{ context.platform_info['os_name']|title }} {% endif %},
        System: {{ context.platform_info['system_name'] }} v{{ context.platform_info['release_version'] }},
        Architecture: {{ context.platform_info['architecture'] }} {{ context.platform_info['processor_type'] }},
        Up Time: {{ context.platform_info['boot_time'] }}
    </p>
</div>

{% endblock %}

{% block body %}

    <!-- Main Contents -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div class="row"' style="padding-top: 10px;">

            <!-- Memory Information -->
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card h-100 bg-dark text-white">
                    <div class="d-flex card-header justify-content-between">
                        <h5>Memory</h5>
                        <h5>
                            <i class="fa-solid fa-memory text-warning"></i>
                        </h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover text-left table-dark text-muted">
                            <tr>
                                <td scope="row"> Total RAM: </td>
                                <td> {{ context.memory_info['svmem_total'] }} </td>
                            </tr>
                            <tr>
                                <td scope="row"> Used: </td>
                                <td> {{ context.memory_info['svem_percent'] }}% </td>
                                
                            </tr>
                            <tr>
                                <td scope="row"> Total Swap: </td>
                                <td> {{ context.memory_info['smem_total'] }} </td>
                            </tr>
                            <tr>
                                <td scope="row"> Used: </td>
                                <td> {{ context.memory_info['smem_percent'] }}% </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Power Information -->
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card h-100 bg-dark text-white">
                    <div class="d-flex card-header justify-content-between">
                        <h5>Power</h5>
                        <h5>
                            {% if context.power_info['power_source'] == 'Battery Power' %}
                                {% if context.power_info['percent'] <= 25 %}
                                    <i class="fa-solid fa-battery-quarter text-danger"></i>
                                {% elif (context.power_info['percent'] >=25 and context.power_info['percent'] <= 50) %}
                                    <i class="fa-solid fa-battery-half"></i>
                                {% else %}
                                    <i class="fa-solid fa-battery-three-quarters text-success"></i>
                                {% endif %}
                            {% else %}
                                <i class="fa-solid fa-plug-circle-bolt text-success"></i>
                            {% endif %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover text-left table-dark text-muted">
                            <tr>
                                <td scope="row"> Percentage: </td>
                                <td> {{ context.power_info['percent'] }} % </td>
                            </tr>
                            <tr>
                                <td scope="row"> Time: </td>
                                <td> {{ context.power_info['time_remaining'] }} </td>
                            </tr>
                            <tr>
                                <td scope="row"> Source: </td>
                                <td> {{ context.power_info['power_source'] }} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- User Information -->
            <div class="col-sm-12 col-lg-6 mb-4">
                <div class="card h-100 bg-dark text-white">
                    <div class="d-flex card-header justify-content-between">
                        <h5>User</h5>
                        <h5>
                            <i class="fa-solid fa-user text-primary"></i>
                        </h5>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover text-left table-dark text-muted">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Terminal</th>
                                    <th scope="col">Host</th>
                                    <th scope="col">Started</th>
                                    <th scope="col">PID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in context.user_info.values() %}
                                <tr>
                                    <td scope="row"> {{ user.name }} </td>
                                    <td> {{ user.terminal }} </td>
                                    <td> {{ user.host }} </td>
                                    <td> {{ user.started.strftime('%d-%m-%y %H:%M') }} </td>
                                    <td> {{ user.pid }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Disks Information -->
            <div class="col-sm-12 col-lg-6 mb-4">
                <div class="card h-100 bg-dark text-white">
                    <div class="d-flex card-header justify-content-between">
                        <h5>Disks</h5>
                        <h5>
                            <i class="fa-solid fa-compact-disc text-info"></i>
                        </h5>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover text-left table-dark text-muted">
                            <thead>
                                <tr>
                                    <th scope="col">Device</th>
                                    <th scope="col">Mounted</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Used</th>
                                    <th scope="col">Free</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for disk in context.disk_info.values() %}
                                <tr>
                                    <td scope="row"> {{ disk.device }} </td>
                                    <td> {{ disk.mounted }} </td>
                                    <td> {{ disk.total }} </td>
                                    <td> {{ disk.used }} </td>
                                    <td> {{ disk.free }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Network Information -->
            <div class="col-sm-12 col-lg-6 mb-4">
                <div class="card h-100 bg-dark text-white">
                    <div class="d-flex card-header justify-content-between">
                        <h5>Network</h5>
                        <h5>
                            <i class="fa-solid fa-network-wired text-danger"></i>
                        </h5>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover text-left table-dark text-muted">
                            <thead>
                                <tr>
                                    <th scope="col">Interface</th>
                                    <th scope="col">IP</th>
                                    <th scope="col">Sent Bytes</th>
                                    <th scope="col">Received Bytes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nic in context.network_info.values() %}
                                <tr>
                                    <td scope="row"> {{ nic.name }} </td>
                                    <td> {{ nic.ip_address }} </td>
                                    <td> {{ nic.sent_bytes }} </td>
                                    <td> {{ nic.received_bytes }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}

{% block script %} 
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}