{% extends "base.html" %}

{% block head %} 
    <title> PSUTIL-DASHBOARD </title>
{% endblock %}

{% block body %}
    <!-- System Information -->
    <div class="col-lg-4">
        <div class="card bg-dark text-white">
            <h5 class="card-header">System Information</h5>
            <div class="card-body">
                <table class="table table-hover text-left table-dark">
                    <tr>
                        <td scope="row"> Hostname: </td>
                        <td> {{ context.platform_info['node_name'] }} </td>
                    </tr>
                    <tr>
                        <td scope="row"> Operating System: </td>
                        <td> {{ context.platform_info['os_name'] }} </td>
                    </tr>
                    <tr>
                        <td scope="row"> System Name: </td>
                        <td> {{ context.platform_info['system_name'] }} </td>
                    </tr>
                    <tr>
                        <td scope="row"> Release: </td>
                        <td> {{ context.platform_info['release_version'] }} </td>
                    </tr>
                    <tr>
                        <td scope="row"> Architecture: </td>
                        <td> {{ context.platform_info['architecture'] }} </td>
                    </tr>
                    <tr>
                        <td scope="row"> Processor Type: </td>
                        <td> {{ context.platform_info['processor_type'] }} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Power Information -->
    <div class="col-lg-4">
        <div class="card bg-dark text-white">
            <h5 class="card-header">Power Information</h5>
            <div class="card-body">
                <table class="table table-hover text-left table-dark">
                    <tr>
                        <td scope="row"> Percentage: </td>
                        <td> {{ context.power_info['percent'] }} % </td>
                    </tr>
                    <tr>
                        <td scope="row"> Time Remaining: </td>
                        <td> {{ context.power_info['time_remaining'] }} </td>
                    </tr>
                    <tr>
                        <td scope="row"> Source: </td>
                        <td> {{ context.power_info['power_source'] }} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %} 
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}